* {
    margin: 0;
    padding: 0;
}

:root {
    
    --cor0:#8C0327;
    --cor1:#D9436B;
    --cor2:#732240;
    --cor3:#F277A4;
    --cor4:#B3ECF2;

    --fonte1:'Oswald', sans-serif;
    --fonte2:'Rubik Mono One', sans-serif;
}

body {
    background-image: linear-gradient(to top, var(--cor4), var(--cor1));
}

main {
    background-color: white;
    width: 100vw;
    margin: 0 auto;
    padding: 30px;
}

.galeria {    
    width: 800px;
    height: 1000px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.foto {
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    10%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    
    50%{
        opacity: 1;
    }

    
}


.foto:nth-child(2) {
    animation-delay: 10s;
}
.foto:nth-child(3) {
    animation-delay: 20s;
}
.foto:nth-child(4) {
    animation-delay: 30s;
}
.foto:nth-child(5) {
    animation-delay: 40s;
}
.foto:nth-child(6) {
    animation-delay: 50s;
}
.foto:nth-child(7) {
    animation-delay: 60s;
}
.foto:nth-child(8) {
    animation-delay: 70s;
}
.foto:nth-child(9) {
    animation-delay: 80s;
}
.foto:nth-child(10) {
    animation-delay: 90s;
}
.foto:nth-child(11) {
    animation-delay: 100s;
}
.foto:nth-child(12) {
    animation-delay: 110s;
}
.foto:nth-child(12) {
    animation-delay: 120s;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin-left: 100px;       
    padding: 10px 30px;
    border-radius: 2px;
    transition-duration: 0.3s;
}

a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    
}

audio {
    margin-left: 100px;
}
